:root{
    --background-primary: #161423;
    --background-secondary: #161423;
    --background-tertiary: #161423;
    --background-secondary-alt: #161423;
    --channeltextarea-background: #1f1c31;
    --background-accent: #1f1c31;
    --scrollbar-auto-scrollbar-color-track: #1f1c31;
    --scrollbar-auto-scrollbar-color-thumb: #bb79c6;
}
